COMPOSE_PROJECT_NAME=simplix-dev
ENVIRONMENT=dev
APP_NAME=simplix-app-dev
POSTGRES_NAME=simplix-postgres-dev
UPDATE_NAME=simplix-update-dev
POSTGRES_VOLUME_NAME=postgres-data-dev
POSTGRES_DB=simplix_portal_client
POSTGRES_USER=simplix
POSTGRES_PASSWORD=change-this-password
UPDATE_CHANNEL=dev
UPDATE_GIT_PROVIDER=github
UPDATE_GIT_REPOSITORY=your-org/Simplix.PortalClient
UPDATE_GIT_BRANCH=dev
UPDATE_GIT_TOKEN=
UPDATE_TOKEN=change-this-token
UPDATE_MANIFEST_BASE_URL=https://your-user.github.io/Simplix.PortalClient
UPDATE_ENVIRONMENT=dev
UPDATE_CURRENT_VERSION=0.1.0
UPDATE_TARGET_VERSION=0.1.0
UPDATE_CURRENT_COMMIT=
UPDATE_REQUIRES_ADMIN_APPROVAL=false
UPDATE_ENABLE_AUTO_UPDATE_PROMPT=true
DB_INIT_ENABLED=true
DB_INIT_APPLY_SCHEMA_CHANGES=true
DB_INIT_SEED_DATA=true
DB_INIT_SEED_IDENTITY=true
